body{
font-family: Arial, sans-serif;
}

button{
border-radius:5px;
border-style:none;
font-size:42px;
display:block;
margin-right:auto;
margin-left:auto;
margin-top:10px;
padding: 6px 15px 6px 15px;
color:#FFFFFF;
box-shadow: 1px 1px 3px #505050;
}

.default{
background-color: #F0A911;
}
.buzzed{
background-color: #11ba1f;
}
.locked{
background-color: #D10A0A;
opacity: 0.5;
box-shadow: none;
}

.clear{
background-color:#B8B8B8;
font-color: #000000;
}
#wrapper{
display:block;
margin-right:auto;
margin-left:auto;
text-align:center;
}

#container{
position:relative;
background-color:#606060;
border-radius: 3px;
text-align:center;
margin-bottom:10px;
padding:2px 6px 2px 6px;
display:inline;
margin-right:auto;
margin-left:auto;
color:#FFFFFF;
}

.soundbuttons{
font-size: 17px;
background-color:#2275D4;
}

#users{
text-align:center;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}
#users tr:nth-child(odd){ 
background-color: #555555;
color:#FFFFFF;
}
