body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
	text-align: center;
	background-color: #1A1A1A;
	color: #FFFFFF;
}

button {
    border-radius: 5px;
    border-style: none;
    font-size: 57px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 8px 17px 8px 17px;
    background-color: #FFFFFF;
	color:#FFFFFF;
	cursor:pointer;
}

button:active {
    box-shadow: 1px 1px 2px #505050;
}

span{
 color:#2275D4;
}
.submit {
    font-size: 20px;
    background-color: #2275D4;
}

.submit:hover {
    background-color: #3e89e0;
}

.default {
    color: #0fa31c;
}

.default:hover {
    color: #11bb1f;
}

.buzzed {
    color: #f2c32c;
}

.buzzed :active {
    box-shadow: none;
}

.locked {
	color: #D10A0A;
    box-shadow: none;
	cursor:default;
	background-color:#FFFFFF;
}

.clear {
    background-color: #9E9E9E;
    color: #FFFFFF;
}
.clear:hover {
    background-color: #BDBDBD;
}

.settings {
    font-size: 17px;
    background-color: #FFFFFF;
	color:#000000;
	width: 145px;
	padding: 7px 0px 7px 0px;
}

.history {
    text-align: left;
    font-size: 17px;
    padding-left: 5px;
}

.inputforms {
    z-index: 2;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    background-color: #FFFFFF;
	color: #000000;
    border-width: 3px;
    border-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    width: 500px;
    max-width: 90%;
    margin: auto;
    font-size: 20px;
	text-align: center;
}

.inputforms input {
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}



#popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.9;
    z-index: 1;
}

#container {
    position: relative;
    background-color: #606060;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px 6px 2px 6px;
    display: inline;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
}

#infobox {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	padding: 3px 3px 3px 3px;
	margin-bottom:3px;
}

#ulistwrapper{
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 3px;
	padding-bottom:3px;
}

#users {
	background-color: #ffffff;
	color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}
#users div{
	padding-left: 2px;
	overflow-x:hidden;
	
}
#users div:nth-child(even) {
    background-color: #555555;
    color: #FFFFFF;
}

#info {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    width: 290px;
    overflow-x: hidden;
}

#roomlist {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    width: 375px;
    height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
	text-align:left;
}
#roomlist div{
	cursor:pointer;
}

#roomlist div:nth-child(even) {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #555555;
    color: #FFFFFF;
}


#historywrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#historywrapper button {
    font-size: 20px;
    height: 23px;
    width: 25px;
    float: right;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
}

#history {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    width: 375px;
    height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#history div:nth-child(even) {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #555555;
    color: #FFFFFF;
}

#history div {
    text-align: left;
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
	#container {
		font-size:20px;
	}
    button {
        font-size: 49px;
        width: 85%;
        border-radius: 3px;
		padding: 14px 5px 14px 5px;
    }

    #buzzbutton {
		width:85%;
		padding: 0px 0px 0px 0px;
    }

    .settings {
        width: 80%;
        font-size: 25px;
		padding: 10px 0px 10px 0px;
    }

    #infobox {
		margin-top:0px;
        font-size: 20px;
        width: 98.5%;
		height: 175px;
		padding: 0px 0px 0px 0px;
    }

    #info {
        width: 48%;
		height:100%;
		float:left;
		margin-top:0px;
		padding: 2px 2px 2px 2px;
		border-radius: 2px;
    }
	#users{
		width:100%;
		max-height: 100px;
		text-align:left;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	
	#ulistwrapper{
		height:100%;
		width:48%;
		float:right;
		border-radius: 2px;
		padding: 2px 2px 2px 2px;
	}

    #historywrapper {
        font-size: 20px;
        width: 90%;
    }

    #history {
        width: 90%;
    }

    .submit {
        width: 80%;
    }
}
/*Credit to Darren Asaro for design template*/